@import "tailwindcss";

@theme {
  --color-primary: #0B132B;
  --color-primary-hover: #1e3a8a;
  --color-accent: #38bdf8;
  --color-muted: #64748b;
  --color-danger: #ef4444;
  --color-background-app: #f8fafc;
  --color-card: #ffffff;
  --font-sans: var(--font-space-grotesk), "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: var(--color-background-app);
  color: #0B132B;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
