@import "tailwindcss";

@theme {
  --color-primary: #0284c7;
  --color-primary-hover: #0369a1;
  --color-accent: #38bdf8;
  --color-muted: #64748b;
  --color-danger: #ef4444;
  --color-background-app: #f0f4f8;
  --color-card: #ffffff;
}

body {
  background-color: var(--color-background-app);
  color: #0f172a;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
