@import "tailwindcss";

@theme {
  --color-primary: #0284c7;
  --color-primary-hover: #0369a1;
  --color-accent: #38bdf8;
  --color-muted: #64748b;
  --color-danger: #ef4444;
  --color-background-app: #f0f4f8;
  --color-card: #ffffff;
}

body {
  background-color: var(--color-background-app);
  color: #0f172a;
}
